<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Balustrade & Railing Calculator</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-list-header color="medium">
			<ion-label>Vertical Bar Railings</ion-label>
		</ion-list-header>

		<ion-item routerLink="panel">
			<ion-thumbnail slot="start">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stair-calculator%2Fbalustrade-small%2F1s-min.png?alt=media&token=39759ac7-407f-419b-b3fe-d94005e03df3"
					alt="Standard vertical bar railings"
				/>
			</ion-thumbnail>
			<ion-label>
				<h2>Standard Vertical Bar Railing Panel</h2>
				<p>
					Vertical bars are the same diameter. Gap between bars is the same.
					Calculate gap and start points.
				</p>
			</ion-label>
			<ion-icon item-end name="arrow-forward"></ion-icon>
		</ion-item>

		<ion-item routerLink="panel-bar-hoop">
			<ion-thumbnail slot="start">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stair-calculator%2Fbalustrade-small%2F2s-min.png?alt=media&token=ce506809-9c56-4509-a583-e3abbccee0fd"
					alt="Railing panel with two different types of vertical bars"
				/>
			</ion-thumbnail>
			<ion-label>
				<h2>Railing Panel - Bar Type A and B</h2>
				<p>
					Two types vertical bars. Calculate gap between bars and start points.
				</p>
			</ion-label>
			<ion-icon item-end name="arrow-forward"></ion-icon>
		</ion-item>

		<ion-item routerLink="panel-rings">
			<ion-thumbnail slot="start">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stair-calculator%2Fbalustrade-small%2F3s-min.png?alt=media&token=ecde71a0-5dee-45c8-9546-f5eeacc3b2e3"
					alt="Standard railing panel with rings."
				/>
			</ion-thumbnail>
			<ion-label>
				<h2>Railing Panel - Different Gap</h2>
				<p>
					Handy for panels with rings. Calculate gap empty and start points.
				</p>
			</ion-label>
			<ion-icon item-end name="arrow-forward"></ion-icon>
		</ion-item>

		<ion-item routerLink="stair-panel">
			<ion-thumbnail slot="start">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stair-calculator%2Fbalustrade-small%2F4s-min.png?alt=media&token=9d95f6c9-648c-44ba-a406-adae9d8eda56"
					alt="Stair railings with vertical bars"
				/>
			</ion-thumbnail>
			<ion-label>
				<h2>Stair Railing Panel</h2>
				<p>Calculate gap and start points for verical bars.</p>
			</ion-label>
			<ion-icon item-end name="arrow-forward"></ion-icon>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header color="medium">
			<ion-label>Standard Railing Sections</ion-label>
		</ion-list-header>

		<ion-item routerLink="section">
			<ion-thumbnail slot="start">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stair-calculator%2Fbalustrade-small%2F5s-min.png?alt=media&token=4fd476ed-9f0a-4d19-a954-dbb2c9370625"
					alt="Railings long run with more panels"
				/>
			</ion-thumbnail>
			<ion-label>
				<h2>Railing - Landing Area</h2>
				<p>
					Calculate panels length. Post number, gap between verical bars and
					start points.
				</p>
			</ion-label>
			<ion-icon item-end name="arrow-forward"></ion-icon>
		</ion-item>

		<ion-item routerLink="section-stair">
			<ion-thumbnail slot="start">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stair-calculator%2Fbalustrade-small%2F6s-min.png?alt=media&token=613f668b-dbe9-4752-8cf2-08e4a75b681b"
					alt="Stair railings"
				/>
			</ion-thumbnail>
			<ion-label>
				<h2>Railing - Stairs and Slopes</h2>
				<p>
					Calculate panels length. Post number, gap between verical bars and
					start points.
				</p>
			</ion-label>
			<ion-icon item-end name="arrow-forward"></ion-icon>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header color="medium">
			<ion-label>Spindles for a cut stringer - open tread</ion-label>
		</ion-list-header>

		<ion-item routerLink="spindles-aa">
			<ion-thumbnail slot="start">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stair-calculator%2Fbalustrade-small%2F7s-min.png?alt=media&token=70a90328-02cc-4edb-9f37-eed7a1de07d5"
					alt="Cut String Staircase - Spindle Sits Directly On The Stair - Vertical Spindles same diameter"
				/>
			</ion-thumbnail>
			<ion-label>
				<h2>Spindles A-A Each Tread</h2>
				<p>Calculate gap between spindles and start points.</p>
			</ion-label>
			<ion-icon item-end name="arrow-forward"></ion-icon>
		</ion-item>

		<ion-item routerLink="spindles-ab">
			<ion-thumbnail slot="start">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stair-calculator%2Fbalustrade-small%2F8s-min.png?alt=media&token=ac52c478-c339-4de7-b0aa-bdb790fb10b6"
					alt="Cut String Staircase - Spindle Sits Directly On The Stair - Vertical Spindles type A and B"
				/>
			</ion-thumbnail>
			<ion-label>
				<h2>Spindles A-B Each Tread</h2>
				<p>Calculate gap between spindles and start points</p>
			</ion-label>
			<ion-icon item-end name="arrow-forward"></ion-icon>
		</ion-item>

		<ion-item routerLink="spindles-ba">
			<ion-thumbnail slot="start">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stair-calculator%2Fbalustrade-small%2F9s-min.png?alt=media&token=cafa14e4-19f8-4fd6-982b-be9020de3a92"
					alt="Cut String Staircase - Spindle Sits Directly On The Stair - Vertical Spindles type B and A"
				/>
			</ion-thumbnail>
			<ion-label>
				<h2>Spindles B-A Each Tread</h2>
				<p>Start with bigger spindle first. Calculate gaps and start points.</p>
			</ion-label>
			<ion-icon item-end name="arrow-forward"></ion-icon>
		</ion-item>

		<ion-item routerLink="spindles-a-b">
			<ion-thumbnail slot="start">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stair-calculator%2Fbalustrade-small%2F10s-min.png?alt=media&token=e52635a2-a102-4d6e-8749-29e83b6ea975"
					alt="Cut String Staircase - Spindle Sits Directly On The Stair - Vertical Spindles type A and B - For inner stairs"
				/>
			</ion-thumbnail>
			<ion-label>
				<h2>Spindle A Tread - Spindle B Tread</h2>
				<p>Calculate gap, bar and hoop centers.</p>
			</ion-label>
			<ion-icon item-end name="arrow-forward"></ion-icon>
		</ion-item>
	</ion-list>
</ion-content>
