<ion-card color="light">
	<ion-card-header>
		<ion-card-subtitle class="offer">From &#163;400</ion-card-subtitle>
		<ion-card-title>Progressive Web App</ion-card-title>
	</ion-card-header>
	<img
		src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2Fpwa-min.png?alt=media&token=56401cd7-5ae0-45b2-adb9-570c27c967f5"
		alt="Progressive web app"
	/>
	<ion-card-content>
		Building a high-quality Progressive Web App has incredible benefits, making
		it easy to delight your users, grow engagement and increase conversions.
		<p text-center>
			<ion-button (click)="mailTo()" color="dark" fill="outline"
				>Send Email
				<ion-icon name="arrow-forward"></ion-icon>
			</ion-button>
		</p>
	</ion-card-content>
</ion-card>
