<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			3D Design & Mobile Web Development
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content no-padding>
	<ion-grid fixed no-padding>
		<ion-row no-padding>
			<ion-col size-sm="12" size-md="8" offset-md="2" no-padding>
				<div [ngSwitch]="pageSegment">
					<div *ngSwitchCase="'pageOne'">
						<ion-list no-padding>
							<ion-item routerLink="/stairs">
								<ion-thumbnail slot="start">
									<img
										src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stairCalculator%2FstairSmall%2F13-min.png?alt=media&token=b1a08ba7-e73b-457c-bc5a-45db6885cc0a"
										alt="Spiral Stair Calculator"
									/>
								</ion-thumbnail>
								<ion-label>
									<h2>Stair Calculator</h2>
									<p>
										Calculations and regulations for stepness of stairs,
										headroom. Kite winders stairs. Special stairs with tappered
										treads. Spiral stairs and special stair calculations.
									</p>
								</ion-label>
								<ion-icon item-end name="arrow-forward"></ion-icon>
							</ion-item>

							<ion-item routerLink="/railings">
								<ion-thumbnail slot="start">
									<img
										src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stair-calculator%2Fbalustrade-small%2F5s-min.png?alt=media&token=4fd476ed-9f0a-4d19-a954-dbb2c9370625"
										alt="Railings long run with more panels"
									/>
								</ion-thumbnail>
								<ion-label>
									<h2>Balustrade & Railings</h2>
									<p>
										Ten calculations, from simple panel to stair balustrades.
									</p>
								</ion-label>
								<ion-icon item-end name="arrow-forward"></ion-icon>
							</ion-item>

							<ion-item routerLink="/extra">
								<ion-thumbnail slot="start">
									<img
										src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/stairCalculator%2FextraSmall%2Ff2-min.png?alt=media&token=65dae49f-928e-416a-a96d-d5d6486a4063"
										alt="Calculator Metal gates with vertical infill bars"
									/>
								</ion-thumbnail>
								<ion-label>
									<h2>Gate & Glass Balustrade Calculator</h2>
									<p>
										Three calculations for glass balustrade, metal gate
										calculator and Trigonometry.
									</p>
								</ion-label>
								<ion-icon item-end name="arrow-forward"></ion-icon>
							</ion-item>
						</ion-list>
						<ion-img
							src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F3dpwa.png?alt=media&token=7ca471a3-f6a3-4f5c-b722-1f9319ec7efc"
						></ion-img>
					</div>

					<div *ngSwitchCase="'pageTwo'">
						<ion-card>
							<ion-card-header>
								<ion-card-title>3D & 2D Cad Design</ion-card-title>
							</ion-card-header>
							<ion-card-content no-padding>
								<ion-img
									src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F3dprint.png?alt=media&token=54ddc594-ab93-4c7e-b784-277161881c2a"
									alt="3D Printer"
								></ion-img>
								<ion-text color="dark">
									<p>
										With new technology is possible to upload 3D model direct to
										web page.
									</p>
								</ion-text>
								<div text-center padding>
									<ion-button
										fill="outline"
										href="https://evestarfootballclub.com/"
										>View 3D Model
										<ion-icon slot="end" name="arrow-forward"></ion-icon>
									</ion-button>
								</div>
							</ion-card-content>
						</ion-card>
					</div>

					<div *ngSwitchCase="'pageThree'">
						<ion-text color="success" text-center>
							<h1>Fast, beautiful apps</h1>
						</ion-text>

						<ion-text color="tertiary">
							<h2>Ionic Framework</h2>
						</ion-text>
						<p>
							is the free, open source mobile UI toolkit for developing
							high-quality cross-platform apps for native iOS, Android, and the
							web—all from a single codebase.
						</p>

						<ion-text color="tertiary">
							<h2>Angular: One framework. Mobile & desktop.</h2>
						</ion-text>
						<p>
							From prototype through global deployment, Angular delivers the
							productivity and scalable infrastructure that supports Google's
							largest applications.
						</p>

						<ion-text color="tertiary">
							<h2>Firebase: Backed by Google, trusted by top apps</h2>
						</ion-text>
						<p>
							Google's mobile platform that helps you quickly develop
							high-quality apps and grow your business.
						</p>

						<ion-text color="success" text-center>
							<h1>Progressive Web Apps</h1>
						</ion-text>
						<ion-item no-padding>
							<ion-label class="ion-text-wrap">
								<ion-text color="primary">
									<h3>Reliable</h3>
								</ion-text>
								<ion-text color="dark">
									<p>
										Load instantly and never show the downasaur, even in
										uncertain network conditions.
									</p>
								</ion-text>
							</ion-label>
						</ion-item>
						<ion-item no-padding>
							<ion-label class="ion-text-wrap">
								<ion-text color="primary">
									<h3>Fast</h3>
								</ion-text>
								<ion-text color="dark">
									<p>
										Respond quickly to user interactions with silky smooth
										animations and no janky scrolling.
									</p>
								</ion-text>
							</ion-label>
						</ion-item>

						<ion-item no-padding>
							<ion-label class="ion-text-wrap">
								<ion-text color="primary">
									<h3>Engaging</h3>
								</ion-text>
								<ion-text color="dark">
									<p>
										Feel like a natural app on the device, with an immersive
										user experience.
									</p>
								</ion-text>
							</ion-label>
						</ion-item>
					</div>

					<div *ngSwitchCase="'pageFour'">
						<ion-card>
							<ion-card-header>
								<ion-card-subtitle
									>Vision: A world of confidence boys and
									girls</ion-card-subtitle
								>
								<ion-card-title>Evestar Football Club</ion-card-title>
							</ion-card-header>
							<ion-card-content no-padding>
								<ion-img
									src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2FB-min.jpg?alt=media&token=6e0a18c1-5763-4e6b-80d0-2afb2f53167f"
									alt="Eve Star charity in Kenya"
								></ion-img>
								<ion-text color="dark">
									<p>
										Evestar Football Club – Kenya was established in 2007 and
										registered as a self-help group in April 2011 and is active
										in informal parts of Nairobi and Kakamega. The Club focuses
										on soccer training, scouting and supporting local talent as
										a way of molding the youth to better themselves, their
										families and the community at large.
									</p>
								</ion-text>
								<div text-center padding>
									<ion-button
										fill="outline"
										href="https://evestarfootballclub.com/"
										>GO TO WEB PAGE
										<ion-icon slot="end" name="arrow-forward"></ion-icon>
									</ion-button>
								</div>
							</ion-card-content>
						</ion-card>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer>
	<ion-toolbar color="primary">
		<ion-segment [(ngModel)]="pageSegment">
			<ion-segment-button value="pageOne">
				<ion-icon name="calculator"></ion-icon>
			</ion-segment-button>
			<ion-segment-button value="pageTwo">
				<ion-icon name="logo-designernews"></ion-icon>
			</ion-segment-button>
			<ion-segment-button value="pageThree">
				<ion-icon name="globe"></ion-icon>
			</ion-segment-button>
			<ion-segment-button value="pageFour">
				<ion-icon name="football"></ion-icon>
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-footer>
