<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			3D Design & Mobile Web Development
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h2>
		1. Stair Calculator & Stair Regulations
	</h2>

	<h3 class="text-center">Steepness of stairs – rise and going</h3>
	<p>
		We have stair rise, stair going and risers number. Calculator calculate
		tread going, tread rise, stair pitch and compare data to UK stair
		regulations. We can also calculate gap between stair and obstacle. Is
		possible to add new stair data for our own purpose.
	</p>

	<h3 class="text-center">
		Special stairs – tapered treads - width less than 1m
	</h3>
	<p>
		We have stair inside radius, outside radius, angle and tread number.
		Calculator calculate going at centre of the tread, tread angle, stair width,
		tread inside and outside width.
	</p>

	<h3 class="text-center">
		Spiral Stairs
	</h3>
	<p>
		We have balustrade rail diameter, rail radius, stair angle, tread rise,
		tread number. Calculator calculate balustrade rail bending radius and
		length. Balustrade circumference and angle.
	</p>
	<p class="text-center">
		<ion-button color="medium" [routerLink]="['/stairs']"
			>Go to Stairs Calculator</ion-button
		>
	</p>

	<h2>
		2. Balustrade & Railings Calculator
	</h2>

	<h3 class="text-center">Standard vertical bar railing panel</h3>
	<p>
		We have panel length, vertical bar diameter and numbers. Calculator
		calculate gap between vertical bars and start points for vertical bars.
	</p>

	<h3 class="text-center">Standard railing section</h3>
	<p>
		We have section length, vertical bar diameter and numbers, post diameter and
		panels number. Calculator calculate post number, panels number. Gap between
		vertical bars and start points for vertical bars.
	</p>

	<h3 class="text-center">
		Balustrade - vertical spindles fixed on each tread
	</h3>
	<p>
		We have tread going, gap between spindle and tread, spindle diameter and
		numbers. Calculator calculate gap between spindles and start points for
		spindles.
	</p>

	<p class="text-center">
		<ion-button color="medium" [routerLink]="['/railings']"
			>Go to balustrade calculator</ion-button
		>
	</p>

	<h2>
		3. Glass Balustrade, metal gates & trigonometry calculator
	</h2>

	<h3 class="text-center">Metal gates with vertical bars</h3>
	<p>
		We have gates width, post diameter, vertical bar diameter and numbers, gap
		between gates and middle style diameter. Calculate width of gate frame, gap
		between vertical bars and start points for vertical bars with option dog
		bars.
	</p>

	<h3 class="text-center">Glass balustrade professional</h3>
	<p>
		We have balustrade section center between start and end post. Handrail and
		posts diameter. Gap between glass top, bottom, left and right. Balustrade
		height and panels number. Calculate glass height and width. Posts number and
		start points for postts.
	</p>

	<h3 class="text-center">Right-Angled Triangle</h3>
	<p>
		Calculate area of triangle. Length between points A, B, C and angle.
	</p>

	<p class="text-center">
		<ion-button color="medium" [routerLink]="['/extra']"
			>Go to extra calculator</ion-button
		>
	</p>

	<ion-slides pager="true" class="main-slider" [options]="slideOpts">
		<ion-slide>
			<img
				class="slide-img"
				src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F1-min.png?alt=media&token=cb036c09-9515-466e-9424-03ef0c2d2e57"
				alt="Oval Stairs with steel balustrade. Balusters glued into treads. Expensive wooden steps and handrail."
			/>
		</ion-slide>

		<ion-slide>
			<img
				class="slide-img"
				src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F10-min.png?alt=media&token=c110e5d1-be4e-4d1d-937f-1b8b07d25502"
				alt="Spiral stairs for Poole in UK"
			/>
		</ion-slide>

		<ion-slide>
			<img
				class="slide-img"
				src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F9-min.png?alt=media&token=3fa4632e-9db4-486b-b184-e63d8f9525d5"
				alt="Metal corner stairs with glass balustrade"
			/>
		</ion-slide>

		<ion-slide>
			<img
				class="slide-img"
				src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F8-min.png?alt=media&token=c91e7580-e8dc-42a8-9fe1-af2a7cc87cab"
				alt="Helical metal stairs and balustrade with hoops and verical bars"
			/>
		</ion-slide>

		<ion-slide>
			<img
				class="slide-img"
				src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F7-min.png?alt=media&token=7a458b3c-e586-4c6a-9969-9a1de5fdab7c"
				alt="Helical metal stairs and glass balustrade"
			/>
		</ion-slide>

		<ion-slide>
			<img
				class="slide-img"
				src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F6-min.png?alt=media&token=f406069a-1a04-45d7-9ed9-4fe528f3a988"
				alt="Main Wooden Gates for expensive house market"
			/>
		</ion-slide>

		<ion-slide>
			<img
				class="slide-img"
				src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F5-min.png?alt=media&token=99487426-e790-48ad-ab9d-d06e67ec8e45"
				alt="Corner metal stairs with art balustrade. Challenge to design in SolidWorks"
			/>
		</ion-slide>

		<ion-slide>
			<img
				class="slide-img"
				src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F4-min.png?alt=media&token=25b41d66-69ee-4abd-8052-a019e9f7df3c"
				alt="Glass railings"
			/>
		</ion-slide>

		<ion-slide>
			<img
				class="slide-img"
				src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F3-min.png?alt=media&token=c545a96c-c8ef-403a-9b54-7bd7c8b0c314"
				alt="Main gates with panels cutted on waterjet cnc machine"
			/>
		</ion-slide>

		<ion-slide>
			<img
				class="slide-img"
				src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F2-min.png?alt=media&token=7bc0bf1a-d775-4a5c-882a-19ea6b97fb57"
				alt="Stair balustrade with balusters fixed to treads"
			/>
		</ion-slide>

		<ion-slide>
			<img
				class="slide-img"
				src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2F11-min.png?alt=media&token=db1c1bf3-19a8-4c65-985a-447c8952a56d"
				alt="Stairs and balustrade cutted on waterjet cnc machine"
			/>
		</ion-slide>
	</ion-slides>
</ion-content>
