<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Facebook Business Manager
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-text color="danger" text-center class="ion-no-padding ion-no-margin">
		<h2 class="ion-no-padding">
			Everyone is a marketer with the right toolkit
		</h2>
	</ion-text>
	<ion-text
		color="dark"
		class="ion-padding-horizontal ion-margin-horizontal ion-text-justify"
	>
		<p>
			Facebook business manager is a tool for entrepreneurs who want to make a
			mark for their business by managing multiple Facebook pages ad accounts. A
			tool that can provide you a 360 degree view of business process and
			workforce activity to support your Digital Marketing strategies and
			business vision.
		</p>
		<ion-img
			src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2FAAA.png?alt=media&token=76b9f234-442a-47eb-94ba-49f2b318534b"
			alt="facebook business manager"
		></ion-img>
	</ion-text>
</ion-content>
