<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Web Page Validation
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<img
		src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2Fb1-new-min.PNG?alt=media&token=c1103c48-b950-4069-8b9c-92bcdf99af1e"
		alt="Lighthouse"
	/>

	<img
		src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2Fb2-min.PNG?alt=media&token=91b800ba-ea69-4dd8-94a6-93b69d325868"
		alt="Lighthouse"
	/>

	<img
		src="https://firebasestorage.googleapis.com/v0/b/solidworks-app.appspot.com/o/HomePhotos%2Fb4-min.PNG?alt=media&token=f9cb323c-425e-48dd-84a7-677eef8c2771"
		alt="Lighthouse"
	/>
	<ion-card class="error">
		We validate web page published by big digital agency in May 2019. Web page
		is slow. They don't use https to serve content. Dom size is 972 elements and
		they use jQuery 1.8.3 published in 2012.
	</ion-card>

	<h2 class="text-center">Progressive Web Apps</h2>
	<ul>
		<li>
			<span>Reliable</span> - Load instantly and never show the downasaur, even
			in uncertain network conditions.
		</li>
		<li>
			<span>Fast</span> - Respond quickly to user interactions with silky smooth
			animations and no janky scrolling.
		</li>
		<li>
			<span>Engaging</span> - Feel like a natural app on the device, with an
			immersive user experience.
		</li>
	</ul>
	<p>
		53% of users will abandon a site if it takes longer than 3 seconds to load!
		And once loaded, users expect them to be fast—no janky scrolling or
		slow-to-respond interfaces.
	</p>

	<ion-card class="success">
		We are mobile first. Our apps are web progressive and can be published also as native apps. We advertise on mobile market only for one reason. EVERY ONE HAS MOBILE DEVICE. 
	</ion-card>


</ion-content>
